@import 'variables.scss';

body {
  font-family: $font;
  text-align: left;
  color: $text-color;
  margin: 0px;
}

section {
  padding: 0px;
}

h1 {
  margin: 0px 0px 5px 0px;
  font-size: $h1-size;
}

p {
  margin: 0px 0px 5px 0px;
  font-size: $p-size;
}

a {
  color: $a-color;
  text-decoration: none;
  background-color: transparent;
}
