:root {
  --color-fg-default: #24292e;
  --color-bg-default: #ffffff;
  --primary-color: #0054B3;

  --link-color: var(--primary-color);

  --font: 'Source Code Pro', sans-serif;
  --p-font-size: 1em;
  --h1-font-size: 2.4em;
}

body {
  text-align: left;
  color: var(--color);
  font-family: var(--font);

  margin: 0px;
  background-color: var(--color-bg-default);
}

section {
  padding: 0px;
}

h1 {
  margin: 0px 0px 5px 0px;
  font-size: var(--h1-font-size);
}

p {
  margin: 0px 0px 5px 0px;
  font-size: var(--p-font-size);
}

a {
  color: var(--primary-color);
  text-decoration: none;
  background-color: transparent;
}
